@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Markazi Text", serif;
}

body{
    background-color: #F8F8F7;
    max-width: 100%;
}



.navbar .icon{
    font-size: 40px;
    position: relative;
    left: 50px;
    font-family: "Grechen Fuemen", serif;
}



.wrapper ul{
    display: flex;
    font-size: 21px;
    justify-content: space-between;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-weight: 430;
}

.wrapper a:hover{
    text-decoration: underline;
    transition: 0.1s;
}

.container{
    margin-top: 20px; 
    padding: 30px;
    position: relative; 
    left: 30px;   
}

.heading{
    position: relative;
    top: 50px;
    left: 280px;
    padding: 20px;
    max-width: 100%;
}

.heading h1{
    font-size: 60px;
    font-weight: 400;
    font-family: "Markazi Text", serif;
    font-style: normal;
    position: relative;
    left: 90px;
    text-decoration: underline;
}

.heading p{
    font-size: 40px;
    font-weight: 350;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 70px;
    padding: 30px;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 400;
}

.cards-layout{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10px;
    
}

.card{
    width: 325px;
    height: 100%;
    margin-bottom: -200px;
    background-color: #F8F8F7;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.card  img{
    width: 100%;
    height: 50%;
    background-size: contain;
    border-radius: 8px;
}

.card-content{
    padding:10px 30px 30px;
    line-height: 1.3;
}

.card-content h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000;
}

.card-content p{
    color: #080808;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #080808;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.about{
    text-align: centre;
    margin-top: 25px;
}

.about h1{
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.about p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}


.about-us{
    display: flex;
    align-items: centre;
    width: 85%;
    margin: auto;
}

.about-us img{
    flex: 0 50%;
    display: block;
    margin: 20px;
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.abt-content{
    padding: 35px;
}

.abt-content h2{
    color: #000000;
    font-size: 25px;
    margin: 15px 0px;
    font-weight: 500;
}

.abt-content p{
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}

.get_started{
    display: inline-block;
    border: none;
    background-color: #0084ff;
    border-radius: 100px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    top: 10px;
    left: 80px;
}

.get_started a{
    color: #000;
}

.get_started a:hover{
    color: #fff;
}


@media(max-width: 768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .about{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}

footer{
     background-color: #c2c2bf;
     padding-top: 50px;
     position: relative;
     top: 50px;
}


.footer-wrap{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: centre;
}

.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content{
    width: 190px;
    margin: auto;
    padding: 7px;
}

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #0084ff;
    transition-duration: .3s;
}

.list li:hover::before{
    width: 70px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #000;
}

.bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin: 50px;
}

.bottom-bar p{
    color: #000;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}







